.Header {
    background: #FFFFFF;
    box-shadow: 0px -4px 40px rgba(40, 42, 62, 0.05);
    padding: 30px 70px 30px 40px;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    gap: 80px;
    height: 110px;
    box-sizing: border-box;
}

.Close {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #282a3e15;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Close>img {
    width: 30px;
}

.Body {
    height: calc(100% - 110px);
    overflow: auto;
    padding: 40px;
    box-sizing: border-box;
}

.Body>h1 {
    margin: 0 0 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E1E2E6;
}

.QuestionsContainer {
    display: flex;
    flex-direction: column;
    max-width: 740px;
}

.AnswerItem {
    background: #282a3e08;
    border-radius: 8px;
    padding: 20px 30px;
    cursor: pointer;
    transition: background-color 300ms;
    box-sizing: border-box;
    margin-top: 18px;
}

.AnswerItem.active {
    border: 1.5px solid #E1E2E6;
    box-shadow: 0px 1px 20px rgba(40, 42, 62, 0.1);
    border-radius: 8px;
    background: white;
}

.AnswerItem.error,
.AnswerItem.active.error {
    background: rgba(245, 137, 134, 0.05);
    border: 1.5px solid #F58986;
    box-shadow: 0px 1px 20px rgba(245, 137, 134, 0.1);
}

.AnswerItem.success,
.AnswerItem.active.success {
    background: rgba(72, 234, 129, 0.05);
    border: 1.5px solid #48EA81;
    box-shadow: 0px 1px 20px rgba(245, 137, 134, 0.1);
}

@media (max-width:550px) {
    .Header {
        box-shadow: 0px 4px 20px rgba(40, 42, 62, 0.03);
        padding: 12px 60px 12px 16px;
        display: grid;
        grid-template-columns: 50px 1fr;
        gap: 20px;
        height: 70px;
        align-items: center;
    }

    .Body {
        height: calc(100% - 70px);
        padding: 20px 16px 100px;
    }

    .Body>h1 {
        margin: 0 0 14px;
        padding-bottom: 10px;
    }

    .AnswerItem {
        background: #282a3e08;
        padding: 15px;
        margin-top: 10px;
    }

    .FloatButton {
        position: absolute;
        bottom: 16px;
        left: 16px;
        right: 16px;
        margin: auto;
    }

    .AnswerItem.error,
    .AnswerItem.active.error {
        border: 2px solid #F58986;
    }

    .AnswerItem.success,
    .AnswerItem.active.success {
        border: 2px solid #48EA81;
    }
}