.Header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 19px 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 2px 25px rgba(40, 42, 62, 0.03);
}

.Header>div {
    margin: auto;
}

.Avatar {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    margin-right: 10px;
}

.HeaderCenter {
    display: flex;
    align-items: center;
}