.CheckBox,
.GreenCheckBox {
  text-align: left;
  display: grid;
  align-items: center;
  grid-template-columns: 18px 1fr;
}
.CheckBox > input,
.GreenCheckBox > input {
  width: 18px;
  height: 18px;
  border: 1.2px solid #e1e2e6;
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  margin: 0;
  cursor: pointer;
}

.CheckBox > input:checked {
  background-color: var(--SecondaryRed);
  border: 1.2px solid var(--SecondaryRed);
}
.GreenCheckBox > input:checked {
  background-color: var(--green);
  border: 1.2px solid var(--green);
}

.CheckBox > input:checked:after,
.GreenCheckBox > input:checked:after {
  content: "";
  font-size: var(--size-4);
  position: absolute;
  top: 0;
  left: 4px;
  color: var(--white);
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.label {
  cursor: pointer;
}

@media (max-width: 550px) {
  .label {
    font-size: var(--size-3) !important;
  }
  .CheckBox,
  .GreenCheckBox {
    grid-template-columns: 16px 1fr;
  }
  .CheckBox > input,
  .GreenCheckBox > input {
    width: 16px;
    height: 16px;
  }

  .CheckBox > input:checked:after,
  .GreenCheckBox > input:checked:after {
    width: 4px;
    height: 9px;
  }
}
